{{> head }}
{{> navbar }}

<div class="row">

  <div class="col-8">
    <h1 class="mt-2 text-center">
      Cristina y Putin
    </h1>
    <p class="mt-5 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci rem, iste repellat,
      nulla
      eum
      magni
      pariatur
      animi temporibus repudiandae accusantium eius inventore? Vero nihil ullam dicta necessitatibus eius labore.
      Soluta.</p>
  </div>

  <div class="col-4">
    <img src="assets/img/crisyvlad.jpg" alt="crisyvlad" class="img-thumbnail">
  </div>


</div>

{{> footer }}